{{ $currency := .Config.DefaultCurrency  }}
{{ $fuelType := .Config.Car.FuelType  }}
⛽ *Заправка добавлена:*

• Госномер: _{{ .Car.RegNumber }}_
• Пробег: _{{ printf "%d" .Refuel.Odometer }}км_
• Топливо ({{ .fuelType }}): _{{ printf "%.2f" .Refuel.Liters }}л_
• Цена/л: _{{ printf "%.2f" .Refuel.PricePerLiter }}{{ $currency }}_
{{ if .Stats }}
📊 *Стастистика с последней заправки:*

• Пробег: _{{ printf "%d" .Stats.TotalDistance }}км_
• Средний расход: _{{ printf "%.2f" .Stats.FuelConsumption }}л/100км_
• Цена/л: _{{ printf "%.2f" .Stats.PricePerLiterFirst }}{{ $currency }} → {{ printf "%.2f" .Stats.PricePerLiterLast }}{{ $currency }}_ ({{ printf "%.2f" .Stats.PricePerLiterDeltaAbs }}{{ $currency }})
{{ end }}
