{{ $currency := .Config.DefaultCurrency  }}
⛽ *Заправка добавлена:*

• Госномер: _{{ .Car.RegNumber }}_
• Пробег: _{{ printf "%d" .Refuel.Odometer }}км_
• Топливо: _{{ printf "%.2f" .Refuel.Liters }}л_
• Цена/л: _{{ printf "%.2f" .Refuel.PricePerLiter }}{{ $currency }}_
{{ if and .Stats (gt .Stats.Entries 1) }}
📊 *Стастистика с последней заправки:*

{{- if .Stats.Consumption }}
• Пробег: _{{ printf "%d" .Stats.Consumption.TotalDistance }}км_
• Средний расход: _{{ printf "%.2f" .Stats.Consumption.FuelConsumption }}л/100км_
{{- end }}
• Цена/л: _{{ printf "%.2f" .Stats.Price.FirstLast.From }}{{ $currency }} → {{ printf "%.2f" .Stats.Price.FirstLast.To }}{{ $currency }}_ ({{ printf "%+.2f" .Stats.Price.FirstLast.Delta }}{{ $currency }})
{{ end }}
