Добро пожаловать в *Fuel Bot 🚗*

Доступные команды:
• `/start` — помощь
• `/add <odometer> <litres> <price>` — добавить заправку
• `/list [<start> <end>|*]` — показать заправки за последний месяц, указанный период или все время
• `/stats [<start> <end>|*]` — показать статистика за последний месяц, указанный период или все время
