🚗 *Добро пожаловать в Fuel Bot!*

• `/start` — помощь
• `/refuel-add [<гос номер>] <пробег> <литры> <сумма чека>` — добавить заправку
• `/refuel-delete [<гос номер>] <пробег>` — удалить заправку
• `/refuel-list [<гос номер>] [<начало периода> <конец периода> | *]` — показать заправки за последний месяц, указанный период или все время
• `/refuel-stats [<гос номер>] [<начало периода> <конец периода> | *]` — показать статистика за последний месяц, указанный период или все время
