{{ $currency := .Config.DefaultCurrency  }}
📊 *Стастистика заправок {{ .Label }} :*

• Госномер: _{{ .Car.RegNumber }}_
• Количество заправок: {{ printf "%d" .Stats.Entries }}
{{ if .Stats.Consumption }}
• Пробег: _{{ printf "%d" .Stats.Consumption.TotalDistance }}км_
• Средний расход: _{{ printf "%.2f" .Stats.Consumption.FuelConsumption }}л/100км_
{{ end }}
• Цена/л: _{{ printf "%.2f" .Stats.Price.FirstLast.From }}{{ $currency }} → {{ printf "%.2f" .Stats.Price.FirstLast.To }}{{ $currency }}_ ({{ printf "%+.2f" .Stats.Price.FirstLast.Delta }}{{ $currency }})
• Общая сумма: _{{ printf "%.2f" .Stats.TotalCost }}{{ $currency }}_
